@model CreateLabelViewModel

<form method="post" class="needs-validation" novalidate>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name"></span>
    </div>
    <button type="submit" class="btn btn-primary">ثبت</button>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}