@model IEnumerable<Blog.Data.Entities.Label>
@{ 
    ViewData["Title"] = "برچسب ها";
}
<h1 class="h2">@ViewData["Title"]</h1>
<ul class="list-group mt-4">
    @foreach (var label in Model)
    {
    <li class="list-group-item">
        <a class="float-left" asp-controller="Label"
           asp-action="Details" asp-route-labelSlug="@label.Slug">دیدن پست ها</a>
        <span>@label.Name</span>
    </li>
    }
</ul>