<div class="text-center mt-2">
    <h1 class="text-danger">عدم دسترسی</h1>
    <h3 class="text-danger">شما به این صفحه اجازه دسترسی ندارید.</h3>
    <a class="btn btn-info mt-2" asp-controller="Home" asp-action="Index">بازگشت به صفحه اصلی</a>
</div>