@model EditProfileViewModel
@{ 
    ViewBag.Title = "ویرایش پروفایل";
}
<div class="row justify-content-center">
    <div class="col-md-9 col-lg-7">
        <h1>@ViewBag.Title</h1>
        <form method="post" enctype="multipart/form-data"
              class="needs-validation" novalidate>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label asp-for="Username"></label>
                        <input asp-for="Username" class="form-control" readonly />
                        <span asp-validation-for="Username"></span>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label asp-for="FriendlyName"></label>
                        <input asp-for="FriendlyName" class="form-control" />
                        <span asp-validation-for="FriendlyName"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" readonly />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label asp-for="BirthDay"></label>
                        <input asp-for="BirthDay" class="form-control" />
                        <span asp-validation-for="BirthDay"></span>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="form-group">
                        <label asp-for="Location"></label>
                        <input asp-for="Location" class="form-control" />
                        <span asp-validation-for="Location"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Bio"></label>
                <textarea asp-for="Bio" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Bio"></span>
            </div>
            <h5>تصویر:</h5>
            <img src="@Model.AvatarDataUrl" class="rounded-circle my-1" style="width:150px; height:150px" />
            <div class="custom-file">
                <input asp-for="Avatar" class="custom-file-input" aria-describedby="avatarHint" />
                <label asp-for="Avatar" class="custom-file-label">انتخاب کنید...</label>
                <small id="avatarHint" class="form-text text-muted">تصاویر مجاز برای ارسال از نوع های png و jpg هستند.</small>
                <span asp-validation-for="Avatar"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger mt-1">
                <span>خطا:</span>
            </div>
            <button type="submit" class="btn btn-primary">ذخیره</button>
        </form>
    </div>
</div>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}