<h1>Profile page</h1>
<h2>تصویر</h2>
<form asp-action="UploadAvatar"
      method="post"
      enctype="multipart/form-data">
    <input type="file" id="avatar"
           name="avatar"/>
    <button type="submit">آپلود تصویر پروفایل</button>
</form>