@{ 
    ViewData["Title"] = "ویرایش کلمه عبور";
}
<h1 class="h2">@ViewData["Title"]</h1>
<h4>کلمه عبور شما با موافقت ویرایش شد برای ورود به حساب کاربری <a asp-controller="Account" asp-action="Login">کلیک کنید</a>.</h4>