@model IEnumerable<Blog.Data.Entities.Label>


<ul class="list-group list-group-horizontal d-inline">
    @foreach (var label in Model)
    {
        <li class="list-group-item border-0 p-0 mx-1 d-inline">
            <a asp-controller="Label" asp-action="Details"
               asp-route-labelSlug="@label.Slug">
                <span class="badge badge-dark">@label.Name</span>
            </a>
        </li>
    }
</ul>