<!DOCTYPE html>

<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-rtl.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    @RenderSection("Links", required: false)
    <title>@ViewBag.Title</title>
</head>
<body class="bg-light">
    <div>
        <header>
            <nav class="navbar navbar-light bg-white navbar-expand px-5">
                <a class="navbar-brand mb-0" href="/">Blog</a>
                <ul class="navbar-nav mr-auto">
                    <partial name="_UserNavbar" />
                </ul>
            </nav>
        </header>
        <div class="container-fluid mt-4 px-sm-5">
            <div class="row">
                <main class="col-12 col-lg-8">
                    @RenderBody()
                </main>
                <aside class="d-none d-lg-block col-lg-4">
                    <cache expires-after="TimeSpan.FromHours(3)">
                        <vc:most-viewed-posts></vc:most-viewed-posts>
                    </cache>
                    <div class="mt-4">
                        <cache expires-after="TimeSpan.FromHours(3)">
                            <vc:most-discussion-posts></vc:most-discussion-posts>
                        </cache>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <footer class="footer direction-ltr bg-light">
        <nav class="navbar navbar-light container">&copy;Blog, 2021</nav>
    </footer>
    <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
