<!DOCTYPE html>

<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-rtl.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <header>
            <nav class="navbar navbar-light bg-light navbar-expand px-5 direction-ltr">
                <span class="navbar-brand mb-0 h1">Blog</span>
                <ul class="navbar-nav ml-auto">
                    <partial name="_UserNavbar" />
                </ul>
            </nav>
        </header>
        <main class="container">
            @RenderBody()
        </main>
    </div>
    <footer class="footer direction-ltr bg-light">
        <nav class="navbar navbar-light container">&copy;Blog, 2021</nav>
    </footer>
    <script src="~/lib/jquery/jquery.slim.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
