@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            <img src="~/images/users/@(User.GetAvatarName() ?? "default.jpg")"
                 asp-append-version="true" class="rounded-circle" style="width:1.5rem;height:1.5rem" />
            <span>@User.Identity.Name</span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li>
                <a class="dropdown-item" asp-controller="Account"
                   asp-action="Profile" asp-route-username="@User.Identity.Name">مشاهده پروفایل</a>
            </li>
            <li>
                <a class="dropdown-item" asp-controller="Account"
                   asp-action="EditProfile">ویرایش پروفایل</a>
            </li>
            <li>
                <a class="dropdown-item" asp-controller="Account"
                   asp-action="ForgetPassword">تغییر رمز عبور</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <a class="dropdown-item" asp-controller="Account"
                   asp-action="Logout">خروج از حساب کاربری</a>
            </li>
        </ul>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Login">ورود</a>
    </li>
    <li class="nav-item align-self-center">|</li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Register">ثبت نام</a>
    </li>
}