@page
@model Blog.Web.Areas.Admin.Pages.IndexModel
@{
}

<h1>Admin page</h1>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">کاربران</h5>
        <p class="card-text">
            مشاهده، ویرایش و اضافه کردن کاربران
        </p>
        <a class="card-link" asp-page="Users/Index">لیست کاربران</a>
        <a class="card-link" asp-page="Users/Create">ساخت حساب</a>
    </div>
</div>